.field-modal-color-picker {
  margin-bottom: 10px;
}

.org-is-owner-icon {
  color: #4BFF00;
}

.inner-polygons-table-container {
  position: relative;
  min-height: 50px;
}

.no-polygons {
  color: #A3A3A3;
}